body{
  font-family: 'Calibri';
  background-image: url("/assets/images/imageedit_4_4421827804.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-title {
  font-size: 100px;
  color:rgb(235, 230, 247);
  text-shadow: 2px 2px black;
}
.selling-points {
  color: rgb(235, 230, 247);
  text-shadow: 2px 2px black;
}
